<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }} - {% endif %}Curious Toys</title>

    <link rel="stylesheet" href="/theme.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ comp.mainNavbar() | safe }}

    {{ content | safe }}

    {{ comp.mainFooter() | safe }}

    <script src="/js/navbar.js"></script>
  </body>
</html>
