<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }} - {% endif %}Curious Toys</title>

    <link rel="stylesheet" href="/theme.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ comp.mainNavbar() | safe }}

    {{ content | safe }}
    <footer class="bg-slate-800 text-white">
      <div class="container py-16 flex flex-col md:flex-row gap-y-6">
        <ul class="text-center md:text-left">
          <li><a href="/" class="opacity-80 hover:opacity-100">Home</a></li>
          <li>
            <a href="/smart-paci" class="opacity-80 hover:opacity-100"
              >Smart Paci</a
            >
          </li>
        </ul>
        <div class="md:ms-auto md:text-right flex justify-center flex-col">
          <a href="/" class="mb-3 md:mb-2 mx-auto">
            <img
              src="/img/logo.webp"
              alt="Curious Toys Logo"
              class="h-12 drop-shadow"
            />
          </a>
          <div class="mx-auto md:ml-auto md:mr-0">
            <a
              href="https://www.patreon.com/CuriousInventions"
              target="_blank"
              rel="noopener"
              title="Curious Invention Patreon"
            >
              <img
                src="/img/icon/patreon.svg"
                alt="Patreon Logo"
                class="h-6 mr-1 inline-block opacity-50 hover:opacity-90 transition-opacity"
              />
            </a>
            <a
              href="https://t.me/CuriousInventions"
              target="_blank"
              rel="noopener"
              title="Curious Invention Telegram"
            >
              <img
                src="/img/icon/telegram.svg"
                alt="Patreon Logo"
                class="h-6 inline-block opacity-50 hover:opacity-90 transition-opacity"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/navbar.js"></script>
  </body>
</html>
