---
layout: layouts/text.njk
title: Page Not Found
url: /404.html
indexable: false
---

<div
  class="min-h-screen bg-gradient-to-t from-[#150012] to-red-950 flex justify-center pt-24 pb-6"
>
  <div class="my-auto">
    <div class="container text-center">
      <h1
        class="font-comforta font-extrabold text-transparent text-4xl md:text-5xl lg:text-7xl bg-clip-text bg-gradient-to-tr from-fuchsia-900 to-red-500 drop-shadow-md mb-6"
      >
        Page not found
      </h1>
      <a
        href="/"
        class="rounded-full text-white border-white py-2 px-4 border-2 hover:bg-white focus:bg-white focus:outline-2 focus:outline-black focus:text-black transition-all duration-200 hover:drop-shadow-md hover:text-black focus:drop-shadow-md outline-none"
      >
        Go Home
      </a>
    </div>
  </div>
</div>
