---
layout: layouts/base.njk
activeNav: Home
---

<div
  class="min-h-[80vh] bg-gradient-to-t from-indigo-950 to-violet-700 bg-center bg-cover flex pt-24 pb-6"
>
  <div class="my-auto mx-auto">
    <div class="container">
      <h1
        class="mb-3 font-extrabold text-transparent text-4xl md:text-5xl lg:text-7xl font-comforta bg-clip-text bg-gradient-to-tr from-fuchsia-300 to-orange-100 drop-shadow-md"
      >
        Great things are coming...
      </h1>
    </div>
  </div>
</div>
{{ comp.patreonCTA() | safe }}
<div class="bg-slate-700 py-16">
  <div class="container text-center text-white">
    <h2 class="font-comforta text-4xl font-bold mb-2">Socials</h2>
    <p class="mb-8">
      Follow our socials to stay up to date with every development.
    </p>
    <div class="flex flex-wrap gap-10 items-center justify-center">
      <div class="w-full md:w-auto">
        <img
          src="/img/discord-wordmark.svg"
          alt="Discord Logo"
          class="mx-auto h-8 mb-6"
        />
        <div class="max-w-xl mx-auto">
          <a
            href="https://discord.gg/tnSEc5KFSF"
            target="_blank"
            rel="noopener"
            class="rounded-full text-white border-white py-2 px-4 border-2 hover:bg-white focus:bg-white focus:outline-2 focus:outline-black focus:text-black transition-all duration-200 hover:drop-shadow-md hover:text-black focus:drop-shadow-md outline-none"
          >
            Join our Discord
          </a>
        </div>
      </div>
      <div class="w-full md:w-auto">
        <img
          src="/img/telegram-wordmark.svg"
          alt="Telegram Logo"
          class="mx-auto h-8 mb-6"
        />
        <div class="max-w-xl mx-auto">
          <a
            href="https://t.me/CuriousInventions"
            target="_blank"
            rel="noopener"
            class="rounded-full text-white border-white py-2 px-4 border-2 hover:bg-white focus:bg-white focus:outline-2 focus:outline-black focus:text-black transition-all duration-200 hover:drop-shadow-md hover:text-black focus:drop-shadow-md outline-none"
          >
            Follow on Telegram
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
