---
layout: layouts/base.vto
activeNav: Home
title: Smart Paci
---

{{ comp.heroSection() }}
{{# {{ comp.howItWorks() }}
{{ comp.featuresSection() }}
{{ comp.productGallery() }} #}}
{{ comp.communitySection() }}
