@import "tailwindcss";

@import "tailwindcss";

@theme {
  --font-sans: "Comfortaa", sans-serif;
  --font-heading: "Bubblegum Sans", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;
  --font-bubblegum: "Bubblegum Sans", sans-serif;
  --color-purple-secondary: #6c00ab;
  --color-pink-playful: #ff6eb4;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer components {
  .container {
    @apply mx-auto px-6;
  }
}

/* Fixes visual bug where letters such as p and g will be cut off */
.font-comfortaa.bg-clip-text,
.font-bubblegum.bg-clip-text,
.font-heading.bg-clip-text {
  line-height: 1.15;
}
