<div class="py-16 bg-[#FC674D]">
  <div class="container text-center text-white">
    <img
      src="/img/patreon-wordmark-white.svg"
      alt="Patreon Logo"
      class="mx-auto w-80 mb-6"
    />
    <div class="max-w-xl mx-auto">
      <p class="mb-6">
        Nothing we do would be possible without our Patreons. Join to get access
        to our Discord server as well as exclusive behind-the-scenes content.
      </p>
      <a
        href="https://www.patreon.com/CuriousInventions"
        target="_blank"
        rel="noopener"
        class="rounded-full text-white border-white py-2 px-4 border-2 hover:bg-white focus:bg-white focus:outline-2 focus:outline-black focus:text-black transition-all duration-200 hover:drop-shadow-md hover:text-black focus:drop-shadow-md outline-none"
      >
        Support us on Patreon
      </a>
    </div>
  </div>
</div>
